.my_header{  width:100%; margin-bottom: 0px; border: 0px; }
*{padding: 0 ; margin:0;}
/*手写媒体查询 控制iframe*/
@media screen and (min-width: 992px){
    .my_header{  height:7rem;  }
}/*
@media screen and (max-width: 991px){
.my_header{  height:11rem;  }
.my_footer{  height:30rem; }
}


/*代轮播图区域  */
.my_img1{
  padding: 0;
}
.my_img1>a>img{
  width: 761px;
}
.body,.row,.col{ margin: 0; padding: 0px; }
.my_figure{margin-top:-6px;}
div>div>a>img{height:100%;}
/* 左右空白 背景样式 */
.my_left{
   background-color: #a88e75
 }
 
 /* 主体部分 */
 /* 左右空白区域样式 */
 .my_blank{
   background-color: #e5e5e5;
 }
 
 /* 中部主题 */
 .my_round>ul>li{
   width:13px;
   height:13px;
   border:3px solid rgb(155, 2, 2);
   border-radius: 50%;
   list-style: none;
   margin-top: 1.2rem;
   margin-right: 1rem;
 }
 .content,.content>ul{
   display: flex;
   margin: 0;   
  padding-right: 0;
 }
 /* 面包屑导航 */
 .breadcrumb{ 
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  border-radius: 0.25rem;
  background-color: #ffffff;
  margin-bottom: 0;
}
  .breadcrumb-item + .breadcrumb-item::before {
      display: inline-block;
      padding-right: 1rem;
      padding-left:1rem;
      color:#e5e5e5;
      content: "|";
      margin-bottom: 0;
    }
    .content>h3{margin-top:7px; }
    .my_p1>a{margin-left:5rem; }
    .my_p1{padding-top: 0.8rem;}
    /* 第一 分割线 */
    .my_hr{
      background-color: rgb(155, 2, 2); 
      border:2px solid rgb(155, 2, 2);
      margin-top:0; 
      margin-left: 1rem;
      margin-right: 1rem;
      border-radius: 2px;
    }
    .my_str{border:1px solid #dbd9d9;}
    .content{margin-left: 2rem;margin-top: 1rem;
    }

    /* 公告牌 */
    .col-2{padding: 0;margin: 0; box-shadow:20 2 3 2 #e5e5e5;}
   .board{
    box-shadow:20 2 3 2 #e5e5e5;
     margin: 0;
     padding: 1rem;
     background-image:linear-gradient(to bottom,#ffffff,#c9c9c9);
   }
   /* 登录按钮 */
   .board>button{
     width: 100px;
     height: 30px;;
     background-color: rgb(209, 2, 2);
     border-radius: 5px;
     border:0;
     color:#ffffff;
     margin-left: 3.2rem;
     font-size:0.85rem; 
   }
.my_p_a{
  font-size: 1rem;
}
.my_p_a>p,.my_p_a>hr{
  margin: 1rem;
  margin-bottom: 7px;
}
.my_p_a>p>a{margin-left: 70px;color: #b3b0b0;margin-bottom: 0}
.my_p_a>hr{margin-top:0px;
 border:1px solid #b3b0b0;
 background-color: #b3b0b0;
 margin-top: 0px;
}
/* 公告牌 公共 样式 */
.board_1{
  display: flex;
  margin: 1rem;
}
.board_1 div{ 
  width: 180px;
  padding-left: 1.2rem;
  border: 0.5px solid #e2d1d1;
  border-left: 0.5px solid transparent;
  font-size: 0.8rem;
  padding-top: 10px;
}
.board_1 div>a>span{ 
   color:#746e6e;
}
/* 申请成为网易音乐人 按钮*/
.button_h6>button{
  width: 220px;
  margin-left: 1rem;
  border-radius: 5px;
  border:0;
  background-color: #eeeeee;
  padding-top: 10px;
  padding-bottom: 5px;
  box-flex: 1 5  5 6 #eeeeee;
}
/* 热门主播 样式 */
.my_p_a2>p,.my_p_a2>hr{
  margin: 1rem;
  margin-top: 2rem;
  margin-bottom: 7px;
}
.my_p_a2 hr{margin-top:0px;
 border:1px solid #b3b0b0;
 background-color: #b3b0b0;
 margin-top: 0px;
}
/* 具体主播 标签样式 */
.my_host_1{
  display: flex;
  margin: 1rem;
}
.my_host_1 div{ 
  width: 180px;
  padding-left: 0.8rem;
  font-size: 0.8rem;

}
.my_host_1 div>a>span{ 
   color:#746e6e;
}
.my_host_1>a>img{height:55px;}

/* 主体标签  标签样式 共两层*/
.my_content>a>img{
  height: 49%;
}
.my_content{
  margin: 0px;
}
.my_content>a p{
  font-size: 0.9rem;
  margin-top: 10px;
  margin-bottom: 0px;
}
div>.my_content{
  margin-bottom: -50px;

}
/*  <!--新碟 上架 分割线  --> */
/* <!--榜单  分割线  --> */
.my_p2{
  margin-left: 25rem; 
  margin-top: 15px;
}
/* 中部 小轮播图 代 */
.small_figure{
  border:1px solid #b3b0b0;
  margin-left: 1rem;
  background-color: #eeeeee;
  margin-right: 1rem;
  display: flex;
  padding-right: 0px;
}
.small_figure>div{
  height:100px;
  margin: 2rem;
  margin-right: 0px;
  margin-bottom: 3rem; 
}

/* 主体内容 下部  榜单*/
.list_a>a>img{
  height:80px;;
  padding-left: 15px;
}
/* 榜单 内部样式 */
.my_list .col-4{
  padding: 0;
  border: 1px solid #b3b0b0;
  padding-top: 15px; 
  background-color: #f0efef;
}
.my_list{
  margin-left: 1rem;
  margin-right: 1rem;
}
.list-unstyled{
  margin-top: 2rem;
}
.list-group-item{
  height: 2rem;
  padding: 5px; 
  border:0;
  background-color: #f0efef;

}
.list-group-item-dark{
  color: #000000;
  background-color: #e2e5e7;
  font-size: 0.8rem;
  
}
.list-group-item{
  color: #000000;
  font-size: 0.8rem;
 
}